@(title: String, message: String)


@mainTemplate("Projet3A - About"){
    
    
    <div class="row">
        <h1 style="margin-top:15px;margin-bottom:25px;">A Propos :</h1>
    
        
        <div style="text-align:justify;">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam turpis metus, dignissim vel sodales nec, ultricies sit amet est. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras pellentesque enim ut augue rutrum, et rhoncus lacus iaculis. Curabitur cursus leo elit, id interdum turpis eleifend quis. Aliquam id ornare elit, eu viverra nisl. Vivamus consectetur aliquet sodales. Curabitur ultricies pharetra placerat. Donec non congue urna. Etiam finibus tincidunt pellentesque. Vivamus sit amet risus ante. Proin sit amet massa ultricies, suscipit dolor eu, congue massa. In ac tincidunt turpis, ac ornare metus. Suspendisse potenti. Suspendisse potenti. Pellentesque eu felis est. Morbi mattis rhoncus turpis, eu blandit augue euismod id.</p>
            <p>Sed porta diam eget massa sagittis fermentum. Quisque sit amet diam finibus, auctor leo et, sodales libero. Praesent cursus et metus viverra cursus. Nam luctus commodo lacinia. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et purus tincidunt, vulputate libero vitae, ullamcorper augue. Sed vel libero metus. Donec luctus, massa ac tincidunt sodales, nulla lectus sodales quam, at euismod turpis nisl quis tortor. Sed id lacus et elit aliquet euismod. Aliquam id quam ornare, condimentum tortor eu, placerat odio. Quisque et velit in ex egestas elementum.</p>
            <p>Praesent dignissim sit amet sapien vel rhoncus. Suspendisse tincidunt lobortis enim, varius ultrices metus consequat a. Phasellus vitae eleifend turpis, a commodo est. Sed vehicula sed augue nec tincidunt. Morbi id laoreet est. Maecenas sit amet purus finibus, laoreet urna quis, facilisis arcu. Integer fringilla, est eleifend maximus tristique, neque odio molestie libero, sed molestie metus ex non est. Sed eget risus rhoncus, efficitur odio ac, maximus massa. Proin sagittis neque ut placerat ultricies. Etiam ut ultricies mi.</p>
      
        </div>
    </div>    
      
        
      
    
    
    
}