@(title: String, file_list:List[String], image_path: String, image_index:Integer, name_table: List[String], value_table: List[String])


@mainTemplate("Projet3A - Search"){

    <div class="row">
            
        <!-- fotorama.css & fotorama.js. -->
        <link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->
        <script src="https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.2/dist/js/alertify.js"></script>
        <script type='text/javascript'>
        
            function previousPoster(){
                if(@image_index>0){
                    document.getElementById("posterName").value= @if(image_index>0){"@(file_list(image_index-1))"} else { "@(file_list(0))"}
                    document.getElementById('posterForm').submit();
                } else {
                    alertify.error("Pas d'affiche précédente.")
                }
            }
            
            function nextPoster(){
               if(@image_index<@(file_list.length)-1){
                    document.getElementById("posterName").value= @if(image_index<file_list.length-1){"@(file_list(image_index+1))"} else { "@(file_list(file_list.length-1))"}
                    document.getElementById('posterForm').submit();
                } else {
                    alertify.error("Pas d'affiche suivante.")
                }
            }
            
        </script>
        
        <h1 style="margin-top:15px;margin-bottom:25px;">Rechercher au sein de la base</h1>
    
        <!-- 2. Add images to <div class="fotorama"></div>. -->
        <div class="row">
            <div class="small-12 medium-6 large-6 columns">
                <div style="text-align:justify;">
                    <p>Praesent dignissim sit amet sapien vel rhoncus. Suspendisse tincidunt lobortis enim, varius ultrices metus consequat a. Phasellus vitae eleifend turpis, a commodo est. Sed vehicula sed augue nec tincidunt.</p>
                </div>
                <div style="text-align: center;">
                    <div class="row">
                        <div class="small-12 medium-6 large-6 columns">
                            <button class="button round secondary" onclick="previousPoster();">Affiche précédente</button>
                        </div>
                        <div class="small-12 medium-6 large-6 columns">
                            <button class="button round secondary" onclick="nextPoster();">Affiche suivante</button>
                        </div>
                    </div> 
                    
                    <div class="small-12 medium-12 large-12 columns">
                     <table style="text-align: center;width:100%;table-layout: fixed;;">
                         <caption style="margin-bottom:10px;">Information sur l'affiche</caption>
                         @for(i <- 0 until name_table.length){
                             <tr>
                                <td style="word-wrap: break-word;border: 1px solid black; width:30%;text-align:center;font-weight:bold;">@name_table(i) :</td>
                                <td style="word-wrap: break-word;border: 1px solid black; width:70%;text-align:center;">@value_table(i)</td>
                            </tr>
                         }
                     </table>
                    </div>
                    <div class="small-7 medium-7 large-7 columns">
                    </div>
                </div>
            
                
               <div style="display: inline-block;width:60%;">
                     <form role="form" id="posterForm"  enctype="multipart/form-data" action="@controllers.application.routes.SearchController.searchPostAction" method="post">
                       
                        <select style="width: 50%;visibility:hidden;" name='posterName' id='posterName'>
                            @for(file<-file_list){
                                @if(image_path.indexOf(file)>=0){
                                    <option value="@file"selected="selected"> @file </option>
                                } else {
                                    <option value="@file"> @file </option>
                                }
                            }
                        </select>
                    </form>
                </div>
                
            </div>
            <div class="small-12 medium-6 large-6 columns">
                <div style="text-align: center">
                    <div class="fotorama" style="width:100%;display: inline-block;">
                        <img src="@image_path"> 
                    </div>
                </div>
            </div>
        </div>
    </div>

}
